<div class="d-flex justify-content-center">
    <div class="card border-danger mb-3" style="max-width: 22rem;">
        <div class="card-header">
            <h3 class="text-danger text-center">404 Page not found!</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">Page not found</h5>
            <p class="card-text text-center">Sorry, an error has occured, Requested page not found!</p>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary" routerLink='/'>Home page</button>
        </div>
    </div>
</div>