<div class="row">
    <div class="col-6">
        <div class="d-flex">
            <div>
                <img src="./assets/user.png" alt="" class="rounded">
            </div>
            <div style="margin-left: 5px;">
                <div> <a class="text-primary text-decoration-none">Nguyen Hoai Nam</a></div>
                <div class="text-muted">
                    <ul class="non-list-style">
                        <li>username: hoainam10th</li>
                        <li>Hoạt động lần cuối: vvvv</li>
                        <li>Ngay sinh: 12/2/1991</li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
    <div class="col-6">
        <div class="d-flex">
            <div>
                <img src="./assets/user.png" alt="" class="rounded">
            </div>
            <div style="margin-left: 5px;">
                <div> <a class="text-primary text-decoration-none">Nguyen Hoai Nam</a></div>
                <div class="text-muted">
                    <ul class="non-list-style">
                        <li>username: hoainam10th</li>
                        <li>Hoạt động lần cuối: vvvv</li>
                        <li>Ngay sinh: 12/2/1991</li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
    <div class="col-6">
        <div class="d-flex">
            <div>
                <img src="./assets/user.png" alt="" class="rounded">
            </div>
            <div style="margin-left: 5px;">
                <div> <a class="text-primary text-decoration-none">Nguyen Hoai Nam</a></div>
                <div class="text-muted">
                    <ul class="non-list-style">
                        <li>username: hoainam10th</li>
                        <li>Hoạt động lần cuối: vvvv</li>
                        <li>Ngay sinh: 12/2/1991</li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
    <div class="col-6">
        <div class="d-flex">
            <div>
                <img src="./assets/user.png" alt="" class="rounded">
            </div>
            <div style="margin-left: 5px;">
                <div> <a class="text-primary text-decoration-none">Nguyen Hoai Nam</a></div>
                <div class="text-muted">
                    <ul class="non-list-style">
                        <li>username: hoainam10th</li>
                        <li>Hoạt động lần cuối: vvvv</li>
                        <li>Ngay sinh: 12/2/1991</li>
                    </ul>
                </div>
            </div>            
        </div>
    </div>
</div>