<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tên Job</h5>
                <h6 class="card-subtitle mb-2 text-muted">Làm việc tại HCM</h6>
                <p class="card-text">Mo ta công việc Mo ta công việc Mo ta công việc Mo ta công việc</p>
                <div class="bg-info margin text-white pd-5 div-border">Angular</div>
                <div class="bg-info margin text-white pd-5 div-border">.Net Core 5</div>                   
            </div>
        </div>
    </div>    
</div>